body.black{
    background-color: black;
    overflow-x: hidden;
}

#moviesorting{
    height: 120px;
    width: 100%;
    position: relative;
    color: red;
    margin-top: 120px;
}

#redborderinput{
    background-color: transparent;
    border:none;
    height: 90px;
    width: 250px;
    color: red;
    font-size: 35px;
    transition: all 0.3s;
}

redborderinput::-webkit-input-placeholder{
    background-color: transparent;
    border:none;
    height: 90px;
    width: 250px;
    color: red;
    font-size: 35px;
    transition: all 0.3s;
}

#movieposter{
    position: relative;
}

#moviedivider{
    height: 10px;
}

img.movie{
    width:100%;
    height: 500px;
}

/*
    het getry om di goed slightly transparent te maak soos in di designs
*/
.movieInfocontainer{
 position:absolute;
    width: 100%;
    bottom: 0;
    height: 250px;
    background-color: red;
    z-index: 10;
  display: block;
  background: rgba(0, 0, 0, 0.8);
}

div.white{
    background-color: white;
    text-align: center;
}

.movieInfo #movietitle{
    color: white;
    font-size: 40px;
    margin-left: 50px;
    font-weight: 300;
}

.movieInfo #movieinfoheader{
    color: white;
    font-size: 30px;
    margin-left: 50px;
    font-weight: 300;
    margin-top: 2px;
}

.movieInfo #movieinfocontent{
    font-weight: 100;
    color: #aaa;
}

div.movierating{
    margin-top: 70px;
    text-align: right;
}

#movieratingtext{
    color: white;
    font-size: 50px;
    padding: 0px;
    text-align: left;
}

#ratingstar{
    font-size: 50px;
    color: white;
}

#ratingstars{
    margin-top: 15px;
    padding-right: 30px;
}

#agerestriction{
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 50px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    color: white;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

#agerestrictionmoviepage{
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 20px;
    display: inline;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    color: white;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

#moviepagetitle{
    color: #ff4e00;
    font-size: 45px;
    display: inline;
    margin-bottom: 30px;
}

#moviepageinfo{
    padding: 25px;
}

#genre{
    font-size: 30px;
    color: white;
    display: inline;
    margin-left: 20px;
}

#favouritecontainer{
    color: white;
    font-size: 45px;
    display: inline;
    margin-left: 30px;
    margin-top: 20px;
}

#favouriteempty{
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

.moviepageinfo .row #movietitle{
    color: white;
    font-size: 40px;
    margin-left: 50px;
    font-weight: 300;
}

#movieinfoheadermoviepage{
    color: white;
    font-size: 30px;
    margin-left: 20px;
    font-weight: 300;
}

#movieinfoheadermoviepage .first{
    margin-top: 30px;
}

#movieinfocontentmoviepage{
    font-weight: 100;
    color: #aaa;
}

#moviedescription{
    color: white;
    font-size: 30px;
    margin-top: 30px;
}

#blurb{
    color: #ff4e00; 
}

#moviedropdowns{
    height: 100%;
    background-color: white;
}

#movieratingrow{
    margin-top: 20px;
}
